
<div class="mat-elevation-z3" style="margin-bottom:3px;">
  <div class="holidays-loading-shade"
       *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
</div>
<mat-card class="room-card">
  <mat-card-header class="room-card-header">
    <mat-card-title class="room-card-title">
      Rooms
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="room-card-content">
    <div class="add-bar">
      <button mat-mini-fab style="position:relative;top:18px;" color="warn" [routerLink]="['/room-create']"><mat-icon>add</mat-icon></button>
    </div>
    <mat-divider></mat-divider>
    
    <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="roomNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Room No</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.roomNo}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="roomType">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Room Type</mat-header-cell>
        <mat-cell *matCellDef="let element">{{getRoomTypeName(element.roomType)}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="capacity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Room Capacity</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.capacity}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [routerLink]="['/room-edit', element.roomId]"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn" (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
