<div class="card-wrapper">
  <div class="mat-elevation-z3" style="margin-bottom:3px;">
    <div class="data-loading-shade"
         *ngIf="isLoading">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
  </div>
  <mat-card class="section-card">
    <mat-card-header class="section-card-header">
      <mat-card-title class="section-card-title">
        Calss Sections
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="section-card-content">
      <div class="add-bar">
        <button mat-mini-fab style="position:relative;top:18px;" color="warn" [routerLink]="['/section-create']"><mat-icon>add</mat-icon></button>
      </div>
      <!--<mat-divider></mat-divider>
      <mat-form-field class="input-f-w">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>-->
      <mat-table [dataSource]="listData" matSort>
        
        <ng-container matColumnDef="sectionName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Section Name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.sectionName}}

          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="subjectGroup">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Subject Group</mat-header-cell>
          <mat-cell *matCellDef="let element">{{getSubjectGroupName(element.subjectGroup)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="academicClassId">

          <mat-header-cell *matHeaderCellDef mat-sort-header>Class</mat-header-cell>
          <mat-cell *matCellDef="let element">{{getClassName(element.academicClassId)}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="['/section-edit', element.sectionId]"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
