<div class="card-wrapper">
  <div class="mat-elevation-z3" style="margin-bottom:3px;">
    <div class="data-loading-shade"
         *ngIf="isLoading">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
  </div>
  <mat-card class="employee-card">
    <mat-card-header class="employee-card-header">
      <mat-card-title class="employee-card-title">
        Employees
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="employee-card-content">
      <div class="add-bar">
        <button mat-mini-fab style="position:relative;top:18px;" color="warn" [routerLink]="['/employee-create']"><mat-icon>add</mat-icon></button>
      </div>
      <mat-divider></mat-divider>
      <mat-form-field class="input-f-w">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="picture">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Picture</mat-header-cell>
          <mat-cell *matCellDef="let element"><img class="row-image" [src]="imageBaseUrl + '/' + element.picture" height="40" /></mat-cell>
        </ng-container>
        <ng-container matColumnDef="employeeName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Emp. Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.employeeName}}</mat-cell>
        </ng-container>
        <!--<ng-container matColumnDef="employeeType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Emp. Type</mat-header-cell>
      <mat-cell *matCellDef="let element">{{getEmployeeTypeName(element.employeeType)}}</mat-cell>
    </ng-container>-->
        <ng-container matColumnDef="designationId">
         
          <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
          <mat-cell *matCellDef="let element">{{getDesignationName(element.designationId)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Phone #</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="['/employee-edit', element.employeeId]"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
